img{
    border:5px solid grey;
    border-radius: 160px;
    width: 25%;
    padding: 2px;
    text-align: center
}
h1{
    font-family:Georgia, Times, serif ;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: #DCDCDC;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

body{
    font-family:Georgia, Times, serif ;
    background-color: lavender;
    margin: 0;

}

ul{
    list-style-type: square;
    margin-left: 5%;
    border: 1px dotted grey;
    width: 30%;
}
#issue1{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
#issue2{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

h3{
    font-family:Georgia, Times, serif ;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: darkblue;
    width: 100%;
    text-align: center;

}
#pilt{
    border-radius: 160px;
    width: 100%;
    padding: 2px;
    text-align: center;
    margin: 20px 0 0 0;
}
 #pilt1{
     border-radius: 160px;
     width: 100%;
     padding: 2px;
     text-align: center
 }

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.menu li {
    margin: 0;
    flex: 1;
    text-align: center;
}

/* Стили для ссылок */
.menu a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 0;
}

.menu a:hover {
    background-color: #575757;
}
h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #2a4d7d;
    text-align: center;
}
p {;
    margin-bottom: 20px;
}
.background-main {
    background-image: url('36778.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
}


.footer-left {
    flex: 1;
    text-align: left;
}

.footer-left a {
    color: #ffd700;
    text-decoration: none;
}

.footer-left a:hover {
    text-decoration: underline;
}


.footer-center {
    flex: 1;
    text-align: center;
}


.footer-right {
    flex: 1;
    text-align: right;
}

.footer-right a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-right a:hover {
    color: #ffd700;
}
